{% extends "base.html" %}

{% block title %}Home | memr.io{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block content %}
<!-- Week Selector Wheel -->
<div class="row week-selector my-3">
    <div class="col-auto mx-auto">
        <button class="wk-slider-btn rounded-pill px-4 py-2" id="date-left"><i class="bi bi-arrow-bar-left"></i></button>
        <div class="date-range text-center">
            <span id="date-slider-range">May 05 - May 11</span>
        </div>
        <button class="wk-slider-btn rounded-pill px-4 py-2" id="date-right"><i class="bi bi-arrow-bar-right"></i></i></button>
    </div>
</div>

<hr>

<!-- Task Breakdown -->
<div class="row text-center">
    <div class="col">
        <p>Monday</p>
    </div>
    <div class="col">
        <p>Tuesday</p>
    </div>
    <div class="col">
        <p>Wednesday</p>
    </div>
    <div class="col">
        <p>Thursday</p>
    </div>
    <div class="col">
        <p>Friday</p>
    </div>
    <div class="col">
        <p>Saturday</p>
    </div>
    <div class="col">
        <p>Sunday</p>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/week_slider.js') }}"></script>
{% endblock %}
